/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }

  /* Cards */
#work{
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
  }
  .work-section  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }







/* Work Section */



/* .content {
    padding: 50px;
}
.sectionHeading {
    text-align: center;
}

.valueProp {
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sideAccent {
    background: #007bff;
    width: 15px;
}

.imageContainer img {
    width: 100%;
}

.imageContainer {
    padding: 50px;
} */










footer {
    padding: 25px 0;
    text-align: center;
    color: black;
    line-height: 4rem;
    
}

footer p {
    font-size: 18px;
    margin: 0;
  }
 
  
