/* Work Section */
.imageContainer img {
    width: 100%;
}

.imageContainer img {
    padding: 10px;
}

.valueProp {
    margin-top: 15px;
    margin-bottom: 15px;
}

.about {
    background-color: gray;
}


.bg-black {
    background-color: lightgray!important;
}
.bg-text {
    background-color: green!important;
}

.text {
    margin-left: auto;
}


footer {
    padding: 25px 0;
    text-align: center;
    color: black;
    line-height: 4rem;
    
}

footer p {
    font-size: 18px;
    margin: 0;
  }
 
  
