/* Global styles */

html,
body {
    width: 100%;
    height: 100%;
}
a {
 color: #fdcc52;
 transition: all .35s;
}

a:hover, a:focus {
    color: #fcbd20;
}
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
.btn {
    border-radius: 300px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
  }

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
p {
    font-family: 'Jura', sans-serif;
    text-align: center;
}

  /* Work section Cards */
#work{
    padding: 50px;
  }
.sectionHeading {
    text-align: center;
}
.work-section  {
    padding: 0px 30px 30px 30px;
}
.cardContainer {
    text-align: center;
}
/*About section */
.about_sec {
    padding-top: 50px;

}

.main-title h1 {
    font-size: 80px;
    font-weight: 500;
    color: blue;
    text-transform: capitalize;
    text-align: center;

}
.about_text {
    margin-top: 30px;
}
.about_text h1 {
    font-size: 33px;
    color: blue;
    margin-top: -20px;
    margin-bottom: 25px;
}
.about_text h2 {
    font-size: 24px;
    color: blue;
}

















footer {
    padding: 25px 0;
    text-align: center;
    color: white;
    background-color: black;
    
}

footer p {
    font-size: 18px;
    margin: 0;
  }
 
  
